---
page_title: "Provider: VAST Data"
description: |-
  The VAST Data Terraform Provider to control the cluster through VMS API.
---

# VAST Data Provider

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## GUID fallback
For all the resources that have GUID as one of its attributes, there is a fallback request when the API responds with 404 Not Found.
If the VMS responds with new ID for given GUID, the provider will update the internal identifier of the resource.

This mechanism is enabled to prevent provider failure due to Leader backup restore.